<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>
        Insert values
    </h1><br>
    <form action="new-match" method="post">
        <label for="player1">Player 1:</label>
        <input type="text" id="player1" name="player1">
        <br>
        <label for="player2">Player 2:</label>
        <input type="text" id="player2" name="player2">
        <br>
        <input type="submit" value="Create Match">
    </form>
</body>
</html>